<app-sidebar></app-sidebar>
<!-- <html lang="en" id="html"> -->
<!-- <div class="wrapper"> -->

<div class="main-panel">

    <div class="content" id="main">

        <p class="p1">Administar Roles</p>

        <!-- <div class="subcabecera "> -->

        <button class="btn ml-4 mb-3 db botoncito" data-toggle="modal" data-target="#modalCrearRol"><i class="fas fa-plus"></i>
                Crear Rol
            </button>

        <div class="divSelect">
            <div class="form__group field divSelect ">
                <input type="input" [(ngModel)]="searchText" class="form__field" placeholder="Name" name="name" id='name' required />
                <label for="name" class="form__label" style="font-size: 16px;">  <i class="fas fa-search" ></i> Búsqueda</label>
            </div>
        </div>


        <div class="table-responsive">


            <table mdbTable #tableEl="mdbTable" class="tt table">
                <thead class="ths">
                    <tr>
                        <th scope="col"><i class="fas fa-signature"></i> Nombre </th>



                        <th scope="col"><i class="fas fa-columns"></i> Descripción</th>

                        <th scope="col"><i class="fab fa-font-awesome-flag"></i> Estado </th>
                        <!-- <i class="fas fa-paste"></i> -->
                        <th scope="col"><i class="fas fa-tools"></i> Acciones</th>
                    </tr>
                </thead>
                <tbody class="tbs">
                    <tr mdbTableCol *ngFor="let el of elements; let i=index">
                        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.nombre | titlecase}}</th>
                        <td style="text-transform: lowercase;" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.descripcion }}</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && el.estado == true">Activo</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && el.estado == false">Inactivo</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                            <div class="button-group">

                                <button *ngIf="el.estado == false" hidden type="button" class="btn  btn-sm bbb" data-toggle="modal" data-target="#modalEditarRol" (click)="obtenerPorID(el._id)"><i class="fas fa-pencil-alt"></i> Editar</button>
                                <button *ngIf="el.estado == true" type="button" class="btn  btn-sm bbb" data-toggle="modal" data-target="#modalEditarRol" (click)="obtenerPorID(el._id)"><i class="fas fa-pencil-alt"></i> Editar</button>
                                <button *ngIf="el.estado == false" style="width: 12.5em;" type="button" class="btn  btn-sm botoncito" data-toggle="modal" data-target="#modalHabilitarRol" (click)="enviarRol(el)"><i class="fas fa-check"></i> Habilitar</button>
                                <button *ngIf="el.estado == true" type="button" class="btn  btn-sm b3" data-toggle="modal" data-target="#modalEliminarRol" (click)="enviarRol(el)"><i class="fas fa-ban"></i> Inhabilitar</button>



                            </div>
                        </td>
                    </tr>
                </tbody>


                <td class="paginador" colspan="4">
                    <mdb-table-pagination class="paginador" hidden [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>

                </td>




            </table>

        </div>
    </div>


</div>
<!-- </div> -->

<!-- </html> -->

<!-- MODAL CREAR ROL -->

<div class="modal fade" id="modalCrearRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mh">
                <h5 class="modal-title w-100 text-center " id="exampleModalLabel">Crear Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          
          </button>
            </div>
            <div class="modal-body">

                <!-- Form -->
                <form class="text-center" style="color: #757575;" [formGroup]="formCrearRol" (ngSubmit)="crearRol(formCrearRol.value)">

                    <div class="m-2">
                        <!-- INGRESAR NOMBRE ROL -->
                        <span *ngIf="f.nombre.invalid && (f.nombre.dirty || f.nombre.touched)" class="text-danger animated fadeIn"> Debe ingresar un nombre de Rol</span>


                        <div class="form-floating  col mb-3">

                            <input [class.is-invalid]="formCrearRol.get('nombre')?.touched && formCrearRol.get('nombre')?.invalid" formControlName="nombre" type="text" name='nombreRol' class="form-control form-icon-trailing entrada1" id="floatingInput3" placeholder="Usuario">

                            <label for="floatingInput" class="form-label"><i class="fas fa-signature"  id="iconos"></i> Nombre</label>

                        </div>


                        <!-- INGRESAR DESCRIPCION DEL ROL -->
                        <span *ngIf="f.descripcion.invalid && (f.descripcion.dirty || f.descripcion.touched)" class="text-danger animated fadeIn"> Debe ingresar una descripción del Rol</span>

                        <div class="form-floating col">

                            <textarea [class.is-invalid]="formCrearRol.get('descripcion')?.touched && formCrearRol.get('descripcion')?.invalid" formControlName="descripcion" type="text" class="form-control" id="tA" name="textarea" rows="10" cols="30"></textarea>

                            <!-- <input formControlName="descripcion" type="text" name='dni' class="form-control form-icon-trailing entrada2" id="floatingInput4" placeholder="Usuario"> -->

                            <label for="floatingInput" class="form-label"><i class="fas fa-columns"  id="iconos"></i> Descripcion</label>

                        </div>
                    </div>

                    <hr>
                    <div class=" button group row m-3 ">
                        <button type="button" class="btn col btn-md mh2 " aria-label="Close" data-dismiss="modal" (click)="resetearForm()"><i class="fas fa-window-close"></i> Cancelar</button>
                        <button type="submit " class="btn col btn-md mhh " [disabled]="formCrearRol.invalid"><i class="fas fa-save"></i> crear Rol</button>
                    </div>

                </form>
                <!-- Form -->
            </div>
        </div>
    </div>
</div>

<!-- MODAL EDITAR ROL -->

<div class="modal fade" id="modalEditarRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mh">
                <h5 class="modal-title w-100 text-center " id="exampleModalLabel">Editar Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          
          </button>
            </div>
            <div class="modal-body">

                <!-- Form -->
                <form class="text-center" style="color: #757575;" [formGroup]="formEditarRol" (ngSubmit)="editarRol(formEditarRol.value, elements1._id)">

                    <div class="m-2">
                        <!-- INGRESAR NOMBRE ROL -->

                        <span *ngIf="f1.nombre.invalid && (f1.nombre.dirty || f1.nombre.touched)" class="text-danger animated fadeIn"> Debe ingresar un nombre de Rol</span>

                        <div class="form-floating  col mb-3">

                            <input [class.is-invalid]="formEditarRol.get('nombre')?.touched && formEditarRol.get('nombre')?.invalid" formControlName="nombre" type="text" name='nombreRol' required class="form-control form-icon-trailing entrada1" id="floatingInput3" placeholder="Usuario"
                                value="{{elements1.nombre | titlecase}}">

                            <label for="floatingInput" class="form-label"><i class="fas fa-signature"  id="iconos"></i> Nombre</label>

                        </div>


                        <!-- INGRESAR DESCRIPCION DEL ROL -->

                        <span *ngIf="f1.descripcion.invalid && (f1.descripcion.dirty || f1.descripcion.touched)" class="text-danger animated fadeIn"> Debe ingresar una descripción del Rol</span>

                        <div class="form-floating col">

                            <textarea [class.is-invalid]="formEditarRol.get('descripcion')?.touched && formEditarRol.get('descripcion')?.invalid" formControlName="descripcion" type="text" class="form-control" id="tA" name="textarea" rows="10" cols="45" value="{{elements1.descripcion }"></textarea>

                            <!-- <input formControlName="descripcion" type="text" name='dni' class="form-control form-icon-trailing entrada2" id="floatingInput4" placeholder="Usuario"> -->

                            <label for="floatingInput" class="form-label"><i class="fas fa-columns"  id="iconos"></i> Descripcion</label>

                        </div>
                    </div>

                    <hr>
                    <div class=" button group row m-3 ">
                        <button type="button" class="btn col btn-md mh2 " aria-label="Close" data-dismiss="modal"><i class="fas fa-window-close"></i> Cancelar</button>
                        <button type="submit " class="btn col btn-md mhh "><i class="fas fa-save"></i> Guardar Edición</button>
                    </div>

                </form>
                <!-- Form -->
            </div>
        </div>
    </div>
</div>

<!-- MODAL ELIMINAR ROL -->

<div class="modal fade" id="modalEliminarRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mh">
                <h5 class="modal-title w-100 text-center " id="exampleModalLabel">Inhabilitar Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          
          </button>
            </div>
            <div class="modal-body  mr-3 ml-3">

                <p class="titulo-eliminar"> ¿Está seguro de inhabilitar el rol: {{elements1.nombre| uppercase}}?</p>
            </div>

            <div class=" button group row m-4 ">

                <button type="button" class="btn col btn-md mh2 " aria-label="Close" data-dismiss="modal"><i class="fas fa-window-close"></i> Cancelar</button>
                <button type="button" class="btn col btn-md mhh " aria-label="Close" data-dismiss="modal" (click)="eliminarRol(elements1._id)"><i class="fas fa-ban"></i> Sí, inhabilitar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL HABILITAR ROL -->

<div class="modal fade" id="modalHabilitarRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mh">
                <h5 class="modal-title w-100 text-center " id="exampleModalLabel">Habilitar Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          
          </button>
            </div>
            <div class="modal-body  mr-3 ml-3">

                <p class="titulo-eliminar"> ¿Está seguro de habilitar el rol: {{elements1.nombre| uppercase}}?</p>
            </div>

            <div class=" button group row m-4 ">

                <button type="button" class="btn col btn-md mh2 " aria-label="Close" data-dismiss="modal"><i class="fas fa-window-close"></i> Cancelar</button>
                <button type="button" class="btn col btn-md mhh " aria-label="Close" data-dismiss="modal" (click)="habilitarRol(elements1._id)"><i class="fas fa-ban"></i> Sí, inhabilitar</button>
            </div>
        </div>
    </div>
</div>