$cp: #393D40;
$cs: #FFCE2B;
.bbody {
    height: 100vh;
    // background: #f7f7f8;
    background: linear-gradient(to right, #fafafa, #eaebec);
    background-size: cover;
    overflow: auto;
}

// .cb {
//     background-color: white;
// }
// .cb4 {
//     background-color: white;
// }
.lg {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    // background-color: #0D47A1;
    background-color: $cp;
    // color: white;
    color: $cs;
    width: 10em;
    margin-top: 1em;
    // opacity: .65;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#floatingInput {
    height: 3.8em;
    // font-size: 15px;
}

#floatingPassword {
    height: 3.8em;
    font-size: 15px;
}

.textoA {
    margin-top: 2em;
    font-size: 13px;
    text-align: center;
}

.image {
    width: 16em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 4em;
}