<body class="bbody">
    <div class="container mt-5 animated fadeInLeft">
        <div class="row cb2">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto cb3">
                <div class="card border-0 shadow rounded-3 my-5 cb4">
                    <div class="card-body p-4 p-sm-5 cb ">
                        <img src="assets/img/logoflorvalle.png" class="image">


                        <form [formGroup]="formNuevoPassword" (ngSubmit)="generarNuevoPassword(formNuevoPassword.value)" class="login100-form validate-form flex-sb flex-w animated">

                            <!-- <span *ngIf="f.submitted && f.controls['dni'].errors" class="text-danger animated fadeIn">El campo usuario es obligaorio</span> -->

                            <span *ngIf="f.codigo.invalid && (f.codigo.dirty || f.codigo.touched)" class="text-danger animated fadeIn"> Debe ingresar un código</span>
                            <span *ngIf="f.codigo.errors?.required" class="text-danger animated fadeIn"> </span>

                            <div class="form-floating mb-3">
                                <input [class.is-invalid]="formNuevoPassword.get('codigo')?.touched && formNuevoPassword.get('codigo')?.invalid" type="text" name='codigo' formControlName="codigo" class="form-control en" id="floatingInput" placeholder="Usuario">
                                <label for="floatingInput">Código</label>
                            </div>

                            <span *ngIf="f.claveNueva.invalid && (f.claveNueva.dirty || f.claveNueva.touched)" class="text-danger animated fadeIn"> Debe ingresar la nueva contraseña</span>
                            <span *ngIf="f.claveNueva.errors?.required" class="text-danger animated fadeIn"> </span>
                            <div class="form-floating mb-3">
                                <input [class.is-invalid]="formNuevoPassword.get('claveNueva')?.touched && formNuevoPassword.get('claveNueva')?.invalid" name="password" formControlName="claveNueva" minlength="4" autocomplete="off" type="password" class="form-control en" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Nueva contraseña</label>
                            </div>


                            <div class="text-center mt-4">
                                <button type="submit" class="btn lg">GUARDAR <i class="fas fa-save"></i></button>


                            </div>

                            <div class="textoA">
                                <label> ¿Realizó el cambio?<a [routerLink]="['/login/login']" routerLinkActive="router-link-active" > Regresar </a> </label>
                            </div>



                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>